@import "./variables";

@mixin All() {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Saira Condensed", sans-serif;
}

* {
  @include All();
}

body {
  /*background: var(--primary-color);*/
  overflow-x: hidden;
}

/*Texto sublinhado
.selection\:text-custom-blue ::selection {
    --tw-text-opacity: 1;
    color: rgb(30, 144, 255/var(--tw-text-opacity));
}

.selection\:bg-custom-blue ::selection {
    --tw-bg-opacity: 1;
    background-color: rgb(30, 144, 255/var(--tw-bg-opacity));
}*/

/*Scroll bar*/

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 25%); /* hsl(205, 54%, 48%);*/
  border-radius: 100vw;
}

// ::-webkit-scrollbar-thumb:hover {
//   background: hsl(205, 56%, 21%);
// }

/*Root*/

:root {
  --primary-color: #{$Lcolor1};
  --secondary-color: #{$Lcolor2};
  --third-color: #{$Lcolor3};
  --fourth-color: #{$Lcolor4};

  --primaryf-color: #{$LFcolor1};
  --secondaryf-color: #{$LFcolor2};
  --thirdf-color: #{$LFcolor3};
  --fourthf-color: #{$LFcolor4};
}

.darkmode {
  --primary-color: #{$Dcolor1};
  --secondary-color: #{$Dcolor2};
  --third-color: #{$Dcolor3};
  --fourth-color: #{$Dcolor4};

  --primaryf-color: #{$DFcolor1};
  --secondaryf-color: #{$DFcolor2};
  --thirdf-color: #{$DFcolor3};
  --fourthf-color: #{$DFcolor4};
}

img {
  max-width: 100%;
  height: auto;
}

.toggle_btn {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/*Scroll to top*/

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  // background-color: #111111;
  color: var(--third-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.scrolldown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  animation: animate2 1.5s linear infinite;
  opacity: 1;
  cursor: pointer;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

/*----------------HEADER/NAVBAR------------------------*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--third-color);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .logo {
    color: var(--secondary-color);
    font-size: $titles;
    font-family: "Saira Condensed";
    font-weight: 700;
  }

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 12px 70px 0 0;

    .menu {
      display: flex;
      align-items: center;

      .close-menu {
        position: absolute;
        color: var(--primary-color);
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
      }

      .close-menu {
        top: 20px;
        right: 20px;
      }

      #check {
        display: none;
      }

      li {
        padding-left: 30px;
        font-family: "Saira Condensed";
        font-weight: 700;

        li[data-lang="en"] {
          position: absolute;
          visibility: hidden;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: var(--secondary-color);
          text-align: center;
          transition: 0.15s ease-in-out;
          position: relative;
          font-size: 20px;

          &:hover::after {
            width: 100%;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: var(--primary-color);
            transition: 0.15s ease-in-out;
          }
        }
      }

      .icons {
        display: flex;
        font-size: $text_icons;
        align-items: center;
        font-weight: 600;
        margin-left: 300px;

        button.lang-toggle {
          text-decoration: none;
          padding: 5px 0;
          color: var(--secondary-color);
          font-weight: 600;
          border: none;
          background: none;
          border-radius: 5px;
          font-size: inherit;

          // &:hover {
          //   color: var(--primary-color);
          // }
        }

        .lang-toggle {
          cursor: pointer;
          text-decoration: none;
          padding: 5px 0;
          color: var(--secondary-color);
          border-radius: 5px;
        }

        .lang-toggle.active {
          color: var(--secondary-color);
        }

        span {
          color: var(--secondary-color);
          padding: 5px 5px;
        }

        .dark-mode-toggle {
          z-index: 100;
          color: var(--secondary-color);
          border: 1px solid currentColor;
          padding: 6px;
          background: transparent;
          cursor: pointer;
          border-radius: 5px;
          width: 30px;
          height: 30px;
          position: relative;
          display: flex;
          margin-left: 30px;
        }
      }
    }

    .open-menu {
      position: absolute;
      color: var(--primary-color);
      cursor: pointer;
      font-size: 1.5rem;
      display: none;
    }

    .open-menu {
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    #check {
      display: none;
    }
  }
}

/*----------------BEGIN------------------------*/

section {
  padding: 100px 15%;
}

.begin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  position: relative;
  background-color: var(--third-color);

  .background-arrow {
    position: absolute;
    top: 65%;
    left: 7%;
    animation: bounceIn 4s;
  }

  .begin-texth1 {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 3rem;
      color: var(--secondary-color);
      /*text-transform: uppercase;*/
      line-height: 1;
      font-weight: 700;
      font-family: Poppins;

      /*CODE TO ISOLATE CERTAIN ELEMENTS BECAUSE OF BACKGROUND IMG*/
      isolation: isolate;
      animation-name: fadeIn; // nome da animação
      animation-duration: 3s; // duração da animação
      animation-timing-function: ease-in; // curva da mesma (podia ser ease, linear, ease-out, ease-in-out, cubic-bezier(n,n,n,n)
      animation-delay: 0s; // delay da animação (tendo 0, começa mal é dado reload na página
      animation-iteration-count: 1; //quantidade de vezes que a animação deve correr
      animation-direction: normal; // direção da mesma (podia ser reverse, alternate, alternate-reverse
      animation-fill-mode: none; // comportamente antes e depois da animação (podia ser forwards, backwards, both
    }

    .begin__title {
      color: var(--secondary-color);
      /*font-size: $p-font;*/
      font-size: 19px;
      // text-align: center;
      line-height: 2;
      font-family: Poppins;
      font-weight: 600;
      animation: fadeIn 3s;
    }

    .line {
      width: 70px;
      border: none;
      height: 1px;
      background-color: var(--secondary-color);
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px 0 0;
    }

    .begin__description {
      color: var(--secondary-color);
      font-size: 17px;
      line-height: 2;
      font-family: Poppins;
      font-weight: 400;
      animation: fadeIn 3s;
      width: 80%;
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: var(--secondary-color);
      color: var(--third-color);
      box-shadow: 0px 0px white;
      transition: 0.5s;
      font-weight: 600;
      font-size: 20px;
      border-radius: 10px;
      /*CODE TO ISOLATE CERTAIN ELEMENTS BECAUSE OF BACKGROUND IMG*/
      isolation: isolate;
      animation: bounceIn 4s;
      /*width: 40%;*/
      max-width: fit-content;
      white-space: nowrap;

      // &:hover {
      //   box-shadow: 8px 10px var(--secondary-color);
      // }
    }
  }
}

/*----------------ABOUT-ME------------------------*/

.about-me {
  background-color: var(--third-color);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-me-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px;
      // align-items: center;

      .begin-img {
        height: 400px;
        width: 400px;
        background: url(../../public/images/imgs-begin/image1.jpg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, 0.3);
        animation: animate_img 8s ease-in-out 1s infinite;
      }

      .about-me-content-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
          text-align: left;
          color: var(--secondary-color);
          font-size: $h1-medium-font;
        }

        .title-wrapper {
          position: relative;
          width: 100%;
          animation: fadeIn 3s;
        }

        .title-normal {
          font-size: 3rem;
          font-weight: 700;
          color: var(--secondary-color);
          position: relative;
          z-index: 2;
        }

        .btn-ss {
          // -webkit-text-stroke: 1px var(--primary-color);
          font-size: 4rem;
          text-transform: uppercase;
          font-weight: 700;
          color: var(--primary-color);
          position: absolute;
          top: -30px;
          left: 20px;
          z-index: 1;
          opacity: 0.2;
        }
      }
    }

    .about-me-text {
      max-width: 500px;
      color: var(--secondary-color);
      font-size: 19px;
      text-align: justify;
      line-height: 2;
      font-family: Poppins;
      font-weight: 400;
      animation: fadeIn 3s;
      margin-top: 20px;
    }

    .line {
      width: 70px;
      border: none;
      height: 1px;
      background-color: var(--secondary-color);
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px 0 0;
    }
  }
}

/*----------------SKILLS------------------------*/

.skills {
  text-align: center;
  background-color: var(--third-color);
  position: relative;

  .title-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
  }

  .title-normal {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    position: relative;
    z-index: 2;
  }

  .btn-ss {
    // -webkit-text-stroke: 1px var(--primary-color);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
    position: absolute;
    top: 10px;
    // right: 360px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.2;
  }

  h1 {
    font-size: $h1-medium-font;
    color: var(--secondary-color);
  }

  h3 {
    font-size: $h3-font;
    color: var(--primary-color);
    margin-bottom: 70px;
  }

  .stack {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px 60px 0;

    .btn-all {
      font-size: 18px;
      background: var(--fourth-color);
      color: var(--secondary-color);
      font-weight: 600;
      padding: 5px 15px 5px 15px;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
      cursor: pointer;

      //   &::hover {
      //     color: #fff;
      //   }
    }
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: self-end;
    text-align: center;
    grid-gap: 20px;
    padding: 1rem 80px;
    font-size: 1.2rem;
    transition: opacity 0.5s ease-in-out;

    .skill-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .skills-h2 {
      font-size: $h2-low-font;
      color: var(--secondary-color);
    }

    .skill-icon {
      width: 50px;
    }

    .skill-icon-lower {
      width: 100px;
    }
  }

  .learning-h1 {
    font-size: $h1-font;
    color: var(--secondary-color);
    margin: 50px;
  }

  .card-c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .card {
      background: var(--third-color);
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
      max-width: 500px;
      margin: 20px;

      h3 {
        display: flex;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
        color: var(--secondary-color);
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        span {
          background: var(--secondary-color);
          color: var(--third-color);
          font-size: 0.875rem;
          padding: 0.1rem 0.8rem;
          border-radius: 6px;
        }
      }
    }
  }
}

/*----------------EXPERIENCE------------------------*/
// .banner-container {
//   position: relative;

//   .banner1 {
//     position: absolute;
//     bottom: 500px;
//     left: -5px;
//   }

//   .banner2 {
//     position: absolute;
//     top: -300px;
//     right: -5px;
//   }

//   .banner3 {
//     position: absolute;
//     top: 300px;
//     left: -5px;
//   }
// }

.experience {
  text-align: left;
  background-color: var(--third-color);

  .title-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
  }

  .title-normal {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    position: relative;
    z-index: 2;
  }

  .btn-ss {
    // -webkit-text-stroke: 1px var(--primary-color);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
    opacity: 0.2;
  }

  h1 {
    font-size: $h1-medium-font;
    color: var(--secondary-color);
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      background-color: var(--secondary-color);
      top: 0;
      bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      background: var(--main-color);
      top: 0;
      left: 50%;
      margin-left: -3px;
      z-index: -1;
      transition: height 0.5s;
    }
  }

  .container3 {
    margin-top: 2rem;
    padding: 20px 10px 20px 0px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 50px;
    margin-right: auto;
    border-radius: 12px;

    i {
      position: absolute;
      display: grid;
      place-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      z-index: 10;
      background-color: #d9d9d9;
      color: #4c4c4c;
      // box-shadow: 0 0 35px var(--secondary-color);
      left: -8px;
    }

    .text-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px 10px 30px;

      h2 {
        flex: 1;
        color: var(--secondary-color);
        font-size: 1.7em;
      }
      h3 {
        flex: 1;
        font-size: 1.4rem;
        color: var(--primary-color);
      }
      p {
        flex: 1;
        font-size: 1.1rem;
        color: var(--primary-color);
      }
    }

    .answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1.4s ease;

      p {
        font-size: 1.1rem;
        color: var(--secondary-color);
        text-align: justify;
        padding: 5px 30px 10px 15px;
        line-height: 1.6;
        overflow-wrap: break-word;
        font-family: "Saira Condensed";
        font-weight: 400;
      }

      ul li {
        color: var(--secondary-color);
      }
    }
    svg {
      transition: transform 0.5s ease-in;
      fill: var(--secondary-color);
    }

    &.active {
      .answer {
        max-height: 300px;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }
}

/*----------------CERTIFICATIONS------------------*/

.certifications {
  text-align: left;
  background-color: var(--third-color);

  .title-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
  }

  .title-normal {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    position: relative;
    z-index: 2;
  }

  .btn-ss {
    // -webkit-text-stroke: 1px var(--primary-color);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
    opacity: 0.2;
  }

  h1 {
    font-size: $h1-medium-font;
    color: var(--secondary-color);
  }

  .container4 {
    width: 80%;
    margin: 2rem auto;
    padding: 20px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
    align-items: center;

    .text-box2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 100px;
      flex: 1;
      margin: 0 20px 0 20px;

      h2 {
        flex: 1;
        color: var(--secondary-color);
        font-size: 1.7em;
      }
      h3 {
        flex: 1;
        font-size: 1.4rem;
        color: var(--primary-color);
      }
      p {
        flex: 1;
        font-size: 1.1rem;
        color: var(--primary-color);
      }

      .left-content {
        display: flex;
        align-items: center;
        gap: 100px;
        // padding-left: 50px;
      }

      .image-box {
        display: flex;
        align-items: center;
        flex-shrink: 0; /* Impede que a imagem seja redimensionada */
      }

      .image-box img {
        width: 100px; /* Ajuste o tamanho conforme necessário */
        height: auto;
      }

      .content {
        display: flex;
        flex-direction: column;
      }

      .content h2 {
        color: var(--secondary-color);
        font-size: 1.7em;
        margin: 0;
      }

      .content h3 {
        font-size: 1.4rem;
        color: var(--primary-color);
        margin: 5px 0;
      }

      .content h4 {
        font-size: 1.1rem;
        color: var(--primary-color);
        margin: 0;
      }
    }

    .image-box2 {
      display: flex;
      align-items: center;
      gap: 15px;

      a {
        font-size: 23px;
        color: var(--primary-color);
      }

      i {
        font-size: 15px;
        color: var(--secondary-color);
      }

      .btn {
        font-size: 23px;
        color: var(--primary-color);
      }
    }
  }
}

/*----------------PROJECTS------------------------*/

.projects {
  text-align: center;
  background-color: var(--third-color);

  .title-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
  }

  .title-normal {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    position: relative;
    z-index: 2;
  }

  .btn-ss {
    // -webkit-text-stroke: 1px var(--primary-color);
    font-size: 3.9rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
    position: absolute;
    top: 10px;
    // right: 280px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.2;
  }

  h1 {
    font-size: $h1-medium-font;
    color: var(--secondary-color);
  }

  h3 {
    font-size: $h3-font;
    color: var(--primary-color);
    margin-bottom: 50px;
  }

  .card3-container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;

    .card3 {
      display: flex;
      flex-direction: column;
      position: relative;

      img {
        width: 100%;
        height: 230px;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
        opacity: 0;
        transition: opacity 0.3s ease; /* Smooth transition effect */

        a,
        i {
          color: white;
          font-size: 23px;
          text-decoration: none;
          cursor: pointer;
          top: 80%;
          left: 8%;
          position: absolute;
        }

        .fas.fa-play {
          margin-left: 40px;
        }

        .overlay__text {
          position: absolute;

          h1 {
            color: white;
            font-size: 25px;

            font-family: "Raleway", sans-serif;
          }
          p {
            color: white;
            line-height: 2;
            font-size: 15px;
            text-transform: uppercase;
            font-family: "Raleway", sans-serif;
          }
        }
      }

      &:hover .overlay {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }

    .video {
      width: 60%;
      position: absolute;
      left: 50%;
      top: 460%;
      z-index: 1;
      transform: translate(-50%, -50%);
      display: none;

      .close-btn {
        position: absolute;
        color: white;
        font-size: 30px;
        top: 10px;
        right: 10px;
        width: 30px;
        cursor: pointer;
      }
    }

    video:focus {
      outline: none;
    }
  }
}

/*----------------SCROLL TOP------------------------*/

.footer {
  background-color: var(--primaryf-color);
  position: relative;
  text-align: center;
  border-top: 1px solid var(--fourthf-color);
  padding: 30px;

  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 23px;
  }

  .footer-icons a i {
    color: var(--thirdf-color);
    cursor: pointer;

    &:hover {
      color: var(--secondaryf-color);
    }
  }

  p {
    font-size: $p-font;
    color: var(--thirdf-color);
    font-family: "Saira Condensed";
    font-weight: 600;
  }
}

/*----------------LOADER------------------------*/

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--primary-color);
  letter-spacing: 0.2em;
  transition: opacity 1.1s, visibility 1.1s;

  &.loader--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: var(--primary-color);
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

/*----------------ANIMATIONS------------------------*/

@keyframes animate_img {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes animate {
  40%,
  60% {
    left: 20%;
  }
  100% {
    left: 0%;
  }
}

@keyframes animate2 {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }

  25% {
    top: 0;
    left: 0;
    opacity: 1;
  }

  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-800px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.05);
  }
  70% {
    transform: scale(1.12);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.banner-container,
.banner-container .banner1,
.banner-container .banner2,
.banner-container .banner3 {
  opacity: 1 !important;
  animation: none !important;
}

.about-me .container,
.skills .container,
.experience .container,
.certifications .container,
.projects .container {
  opacity: 0;
  animation: fadeIn 0.8s linear forwards;
  // animation-timeline: view();
  animation-range: entry;
}

/*----------------MEDIA QUERIES------------------------*/

@media (max-width: 1200px) {
  section {
    padding: 50px 8%;
  }

  .background-arrow {
    top: 45%; /* Ajustar a posição para telas menores */
    left: 20%;
  }
}

@media screen and (max-width: 768px) {
  /*Mobile*/

  nav {
    justify-content: space-between;
    padding: 10px 30px;

    .nav-bar {
      .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--primary-color);
        transition: all 0.2s ease-in-out;

        .close-menu {
          display: block;
        }

        .close-menu {
          color: white;
        }

        #check:checked ~ .menu {
          right: 0;
        }

        li {
          margin-top: 20px;
          padding-left: 0;

          a {
            color: white;
            padding: 10px;
            font-family: Alegreya;
            font-weight: 600;

            &::after {
              background-color: white;
            }
          }
        }

        .icons {
          margin-left: 0;
          margin-top: 50px;

          // .lang-toggle,
          // .language-toggle,
          // .dark-mode-toggle {
          //   color: white;
          // }
          .lang-toggle:hover,
          .language-toggle:hover,
          .dark-mode-toggle:hover {
            color: var(--secondary-color);
          }
        }
      }

      .open-menu {
        display: block;
      }

      #check:checked ~ .menu {
        right: 0;
      }
    }
  }

  /*Begin*/
  .begin {
    .scrolldown {
      display: none;
    }

    .background-arrow {
      display: none;
    }

    .wrapper {
      flex-direction: column-reverse;
      gap: 0;
      text-align: center;

      .img1 {
        max-width: 100%;
        height: auto;
      }

      .scrolldown {
        bottom: -220px;
      }

      .begin-text {
        max-width: 100%;
        margin-top: 0;

        .divider {
          padding: 0;
        }

        .begin-texth1 {
          margin-top: 50px;
          max-width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          h1 {
            font-size: 40px;
          }

          .begin__title,
          .begin__description {
            text-align: center;
          }

          // .begin__description {
          //   width: 0;
          // }
        }
      }

      .begin-img {
        height: 300px;
        width: 300px;
        margin-top: 50px;
      }
    }
  }

  /*Backgrounds*/
  .background1,
  .background2,
  .banner-container {
    // display: none;
    visibility: hidden;
  }

  /*About me*/
  .about-me .title-normal,
  .skills-text .title-normal,
  .experience .title-normal,
  .projects-text .title-normal {
    font-size: 2.5rem;
  }

  .about-me .btn-ss,
  .skills .btn-ss,
  .experience .btn-ss,
  .certifications .btn-ss,
  .projects .btn-ss {
    font-size: 2.6rem;
    top: 20px;
  }

  .about-me-content {
    flex-direction: column-reverse;
    gap: 20px;

    .about-me-text {
      font-size: 15px;
    }
  }

  /*Skills and Projects*/
  .skills,
  .projects {
    text-align: left;
  }

  .skills,
  .projects {
    .title-normal {
      font-size: 3rem;
      font-weight: 700;
      color: var(--secondary-color);
      position: relative;
      z-index: 2;
    }
  }

  .skills {
    .btn-ss {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--primary-color);
      position: absolute;
      top: 40px;
      left: 130px;
      transform: translateX(-50%);
      text-align: center;
      line-height: 1;
      z-index: 1;
      opacity: 0.3;
      width: max-content;
    }

    .stack {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  .projects {
    .btn-ss {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--primary-color);
      position: absolute;
      top: 35px;
      left: 190px;
      transform: translateX(-50%);
      text-align: center;
      line-height: 1;
      z-index: 1;
      opacity: 0.3;
      width: max-content;
    }
  }

  /*Experience*/
  .experience {
    .timeline {
      margin: 50px auto;
    }

    .timeline::after {
      left: 31px;
    }

    .text-box {
      font-size: 13px;
    }

    .text-box h2 {
      font-size: 25px;
    }

    .text-box p {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  /*Certifications*/
  .left-content {
    flex-direction: column;
    text-align: center;
    gap: 50px !important;
  }

  .text-box2 {
    flex-direction: column;
    gap: 50px !important;
  }

  .text-box2 h2,
  .text-box2 h3,
  .text-box2 p {
    font-size: 1.2em;
  }

  .image-box img {
    width: 80px;
    height: auto;
  }

  .image-box2 {
    flex-direction: column;
    gap: 10px;
  }

  .image-box2 a,
  .image-box2 .btn {
    font-size: 18px;
  }

  .image-box2 i {
    font-size: 12px;
  }

  /*Projects*/
  .projects {
    .card3-container {
      grid-template-columns: repeat(1, 1fr);
      margin-right: 0;
      margin-left: 0;

      // .video {
      //   width: 100%;
      //   top: 500%;
      // }
    }
  }
}
