/* LIGHT */
$Lcolor1: #5c5c5c; /*#3885BD*/
$Lcolor2: #242627; /*#183B54*/
$Lcolor3: #fff;
$Lcolor4: #fff;

/* DARK */
$Dcolor1: #A1A1A1;
$Dcolor2: #fff;
$Dcolor3: #242627; /*#183B54*/
$Dcolor4: #A1A1A1;

/* FOOTER L/D */

$LFcolor1: #fff; /*#3885BD*/
$LFcolor2: #242627; /*#183B54*/
$LFcolor3: #414141;
$LFcolor4: #c0c0c0;

$DFcolor1: #242627;
$DFcolor2: #111111;
$DFcolor3: #fff; /*#183B54*/
$DFcolor4: #535353;

/*FONTS NAVBAR*/
$titles: 37px;
$text_icons: 20px;

/*FONTS*/
$h1-big-font: 90px;
$h1-medium-font: 70px;
$h1-font: 45px;

$h2-big-font: 80px;
$h2-medium-font: 60px;
$h2-font: 30px;
$h2-low-font: 25px;

$h3-big-font: 70px;
$h3-medium-font: 50px;
$h3-font: 25px;



$p-font: 17px;